body {
    background-color: #19191a;
    color: #f9f9f9;
    text-align: center;
    font-family: Helvetica, "Times New Romans", sans-serif;
}




ul li {
    list-style: none;
    margin-top: 5px;

}
a {
    text-decoration: none;
    color: #f9f9f9;
}

